*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center
  }
  body{
    background: black;
    background-image: url("background.png");
    font-family: 'Suez One', serif;

    letter-spacing: 2px;

  }
  #instSelect,#instSelectSec{
    color: #8b66d1;
    text-shadow: -2px -2px 1px black;
    font-size: 20px; 
  }
  #instTextA,#instTextB,#welcomeText{
    padding: 10px;
    color: white;
    text-shadow: -2px -2px 1px black;
   font-size: 20px;
  }
  #pfooter{
    padding: 0px;
    font-size: 7px;
  }
  #content{
    height: 550px;
    width: 850px;
    margin-right: auto;
    margin-left: auto;
    
  }
  header{
    margin-top: 30px;
    height: 110px;
    width: 850px;
    opacity:1;
    background: linear-gradient(to bottom, #3f2f51,#bc6bff );
    mix-blend-mode: hard-light;
  }
  h1{
    font-size: 80px;
    line-height: 1.5;
    font-family: 'Russo One', sans-serif;
    padding: auto;
    color: #27c415;
  }
  .top, .top2{
    background: #650f82;
    height: 150px;
    opacity: 0.8;
  }
  
  .bot{
    background:#1c1c1e;
    height: 450px;
  }
  .bot2{
    background:#1c1c1e;
    height: 480px;
    opacity: 0.8;
    
  }
  
  footer{
    background: #17b236;
    height: 10px;
  }
  .buttonA{
    color:#bc6bff;
    background:radial-gradient(circle farthest-side, #3f2f51, #271d33);
    border: 3px solid;
    border-radius: 15px;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
  }
  #userOffset:hover,.buttonA:hover,#codeButton:hover,#decodeButton:hover{
    background: #bd9bc6;
    color:#3f2f51;
  }
  #decodeButton{
  padding: 25px 60px;
  margin-left: auto;
  }
  #codeButton{
  padding: 25px 80px;
  margin: auto;
  margin-right: 30px;
  margin-top:30px;
  }
  #codeTextButton,#decodeTextButton{
    padding:15px 150px;
    margin-top:12.5px;
    opacity:1;
  }
  
   #backButton,#backButtonB{
    padding: 1px 40px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 8px;
   
  }
  #textCode::selection,#textCodeResult::selection, #textDecode::selection{
    color: #72ffde;
    background: white;
  }
 
  #textCode, #textCodeResult, #textDecode,#textDecodeResult{
    resize:none;
    margin-top: 20px;
    margin-right: auto;
    font-size: 25px;
    color:#bc6bff;
    background: #3f2f51;
    border: 3px solid;
    border-radius: 10px;
    text-align: start;
    font-family: 'Hammersmith One', sans-serif;
    
  }
  #userOffset{
    font-size: 20px;
    font-family: 'Hammersmith One', sans-serif;
    padding: 20px;
    margin-top: 10px;
    cursor:pointer;
    color:#bc6bff;
    background: #3f2f51;
    border: 3px solid;
    border-radius: 15px;
  }


  
  